@import url('https://fonts.googleapis.com/css2?family=Fondamento&family=IM+Fell+French+Canon&family=Inter&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Brygada+1918&display=swap');

.mensagem-deletado {
  background-color: #8a0000;
  color: #fff;
  padding: 10px 20px;
  border-radius: 5px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 999;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-10px);
    /* Desloca para cima para um efeito suave */
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.expansion {
  width: 100%;
  color: #000;
  justify-content: center;
}
.mensagem-container {
  position: fixed;
  top: 20%;
  left: 30px;
  transform: translateY(-50%);
  z-index: 999;
  background-color: rgb(189, 14, 14)818  !important ;
  color:#fff !important ;
}

.expansion-panels {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  width: 100%;
  transition: box-shadow 0.3s ease;
}

.expansion-panel-content {
  width: 100%;
  border-radius: 8px;
  overflow: hidden;
  transition: background-color 0.3s ease;
  animation: fadeIn 0.5s ease-in-out;
  /* Adicione a animação de fade-in */
}

.expansion-header {
  cursor: pointer;
  transition: color 0.3s ease;
}

.expansion-header.active {
  background-color: #f0f0f0;
}

.expansion-content {
  padding: 15px;
}

.three-body {
  --uib-size: 35px;
  --uib-speed: 0.8s;
  --uib-color: #fff;
  position: relative;
  display: inline-block;
  height: var(--uib-size);
  width: var(--uib-size);
  animation: spin78236 calc(var(--uib-speed) * 2.5) infinite linear;
}

.three-body__dot {
  position: absolute;
  height: 100%;
  width: 30%;
}

.three-body__dot:after {
  content: '';
  position: absolute;
  height: 0%;
  width: 100%;
  padding-bottom: 100%;
  background-color: var(--uib-color);
  border-radius: 50%;
}

.three-body__dot:nth-child(1) {
  bottom: 5%;
  left: 0;
  transform: rotate(60deg);
  transform-origin: 50% 85%;
}

.three-body__dot:nth-child(1)::after {
  bottom: 0;
  left: 0;
  animation: wobble1 var(--uib-speed) infinite ease-in-out;
  animation-delay: calc(var(--uib-speed) * -0.3);
}

.three-body__dot:nth-child(2) {
  bottom: 5%;
  right: 0;
  transform: rotate(-60deg);
  transform-origin: 50% 85%;
}

.three-body__dot:nth-child(2)::after {
  bottom: 0;
  left: 0;
  animation: wobble1 var(--uib-speed) infinite calc(var(--uib-speed) * -0.15) ease-in-out;
}

.three-body__dot:nth-child(3) {
  bottom: -5%;
  left: 0;
  transform: translateX(116.666%);
}

.three-body__dot:nth-child(3)::after {
  top: 0;
  left: 0;
  animation: wobble2 var(--uib-speed) infinite ease-in-out;
}

@keyframes spin78236 {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

@keyframes wobble1 {

  0%,
  100% {
    transform: translateY(0%) scale(1);
    opacity: 1;
  }

  50% {
    transform: translateY(-66%) scale(0.65);
    opacity: 0.8;
  }
}

@keyframes wobble2 {

  0%,
  100% {
    transform: translateY(0%) scale(1);
    opacity: 1;
  }

  50% {
    transform: translateY(66%) scale(0.65);
    opacity: 0.8;
  }
}

/* Estilize o spinner de carregamento */
.loading-spinner {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.spinner {
  border: 6px solid #f3f3f3;
  border-top: 6px solid rgb(5, 36, 56);
  border-radius: 50%;
  width: 50px;
  height: 50px;
  animation: spin 2s linear infinite;

}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.dialog {
  width: 40vw;
  height: 50vh;
  background-color: #1B2F4A !important;
}

.botao-deletar {
  width: 30%;
}

.ano {
  margin-top: 3rem;
  display: block;
}

.titulo {
  font-family: 'Fondamento', cursive;
  margin-top: 7rem;
  justify-content: center;
}

.mensagem-deletado {
  color: #ffffff;

}

.imagemAnexo {
  width: 20vw;
}

.botao-editar {
  background-color: #1B2F4A !important;
  color: #fff !important;
}

.estiloEscrita {
  font-family: 'Times New Roman', Times, serif;
  font-size: 1.2rem;
  display: flex;
  flex-wrap: wrap;
}

.estiloEscritaGrande {
  font-family: 'Brygada 1918', serif;
  width: 100%;
  font-size: 1.3rem;
  text-align: start;
}

.orientacao {
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: start;
  justify-content: center;
  width: 100%;
}

.dialog-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.dialog {
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  z-index: 2;
}

.dialog-overlay1 {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 80rem;

}

button {
  margin-top: 10px;
}

.dialogo {
  width: 100%;
  height: 5vh;
  background-color: #fff !important;
  border-radius: 18px;
}

.escritadentro {
  font-family: 'Times New Roman', Times, serif;
  font-size: 1.5rem;
  text-align: center;
}

.etapasbotao {
  background-color: #1B2F4A !important;
  color: #fff !important;
  margin-left: 4%;
}

.escritapequena {
  color: #fff;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 0.8rem;
}

.imagemAnexo1 {
  display: none;
}

@media screen and (max-width: 959px) {
  .margin {
    margin-bottom: 50rem;
  }
}

@media screen and (max-width: 390px) {
  .titulo {
    font-size: 6vw;
  }

  .estiloEscrita {
    text-align: start !important;
  }

  .ano {
    text-align: center;
  }
}

@media screen and (max-width: 580px) {

  .imagemAnexo {
    display: none !important;
  }

  .imagemAnexo1 {
    display: block;
    width: 40vw;
    margin-left: 4rem;
    align-items: center !important;
    justify-content: center !important;
  }

  .estiloEscrita {

    display: block;
  }

  .ano {
    text-align: center;
    justify-content: center;
  }
}

@media screen and (max-width: 850px) {
  .tamanho {
    display: inline-block;
  }
}