@import url('https://fonts.googleapis.com/css2?family=Fondamento&family=IM+Fell+French+Canon&family=Inter&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Brygada+1918&display=swap');

.titulo {
  font-family: 'Fondamento', cursive;
  margin-top: 3rem;
  margin-bottom: 3rem;
  justify-content: center;
  align-items: center;
}

.loading-spinner {
  margin: 20px 0;
}

.expansion {
  margin-top: 20px;
}

.expansion-header {
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
}

.expansion-header {
  cursor: pointer;
  transition: color 0.3s ease;
}

.expansion-header.active {
  background-color: #f0f0f0;
}

.dropdown-menu {
  background-color: #f0f0f0;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  display: none;
  z-index: 1;
  width: 90%;
  max-width: 90%;
}

.dropdown-menu.show {
  display: block;
}

.estiloEscrita {
  font-family: 'Times New Roman', Times, serif;
  font-size: 1.2rem;
  display: flex;
  flex-wrap: wrap;
}

.estiloEscritaGrande {
  font-size: 1.5em;
  color: #1B2F4A;
}

.botoes-container {
  margin-top: 20px;
}

.botao-editar,
.ml-2 {
  background-color: #1B2F4A;
  color: #fff;
  border: none;
  padding: 10px 15px;
  cursor: pointer;
  font-size: 1em;
  border-radius: 5px;
}

.ml-2 {
  margin-left: 10px;
}
.expansion {
  width: 100%;
  color: #000;
  justify-content: center;
}