#pesquisa {
margin-top: 5rem;
}
/* Adicione esses estilos ao seu arquivo de estilos CSS ou ao seu componente React (por exemplo, usando styled-components) */

.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  overflow-x: auto; /* Adicione a rolagem horizontal */
  white-space: nowrap; /* Impede a quebra de linha */
  transition: opacity 0.5s ease; /* Adiciona uma transição suave */
}

.pagination.show {
  opacity: 1; /* Mostra gradualmente */
}

.page-numbers {
  display: flex;
  gap: 5px;
}

.page-numbers button {
  margin: 0 5px;
}

@media screen and (max-width: 600px) {
  .pagination {
    flex-direction: column;
    align-items: center;
  }

  .page-numbers button {
    display: none;
  }

  .page-numbers button:first-child,
  .page-numbers button:last-child {
    display: inline-block;
  }
}

#pesquisa-text {
  margin-top: 1500px;
}
table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
  }
  
  th {
    background-color: #f2f2f2;
    color: #333;
    padding: 12px;
    text-align: left;
    font-weight: bold;
    border: 1px solid #ddd;
  }
  
  td {
    padding: 12px;
    border: 1px solid #ddd;
  }
  
  tbody tr:nth-child(even) {
    background-color: #f9f9f9;
}